/** FONTS */
$header-font: "Questrial", sans-serif;
$paragraph-font: "Pragati Narrow", sans-serif;

/** SCREEN SIZES */
$small-medium-size: 570px;

/** COLORS*/
$border-color: rgb(132, 132, 132);
$accent-color: rgb(0, 115, 255);
$header-color: rgb(0, 80, 120);
$background-color: rgb(141, 167, 193);
